<div class="product-container">
<div class="row ">
  <div class="product-card" *ngFor="let product of productList" >
    <div class="product-info">
      <img [src]="product.image.small" class="product-image" alt="{{ product.name }}" style="width: 200px; height: 200px;">
      <div>
        <h5 class="product-name">{{ product.name }}</h5>
        <p class="product-price">Price: {{ product.price }}</p>
        <p class="product-description">{{ product.description }}</p>

        <button class="btn btn-sm btn-success" (click)="addCart(product)">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
</div>
